name: "Ubuntu .NET Runtime Deps Tests"

on: push

env: 
  runtime-deps-image-name: ubuntu/dotnet-runtime-deps:test
  runtime-image-name: ubuntu/dotnet-runtime:test
  aspnet-image-name: ubuntu/aspnet:test
  ubuntu-release: '22.10'

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Build and Test

    outputs:
      build_status: ${{ steps.set-outputs.outputs.status }}

    steps:
      - uses: actions/checkout@v2

      - name: Prepare working environment for running and collecting test results
        run: |
          mkdir -p ${{ github.workspace }}/_test_results
          sudo apt-get update
          sudo apt-get -y install skopeo

      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: Lint the .NET runtime deps container image recipe
        uses: hadolint/hadolint-action@v2.0.0
        with:
          dockerfile: Dockerfile.runtime-deps
          ignore: DL3008,DL3009,DL3015,SC3028

      - name: Lint the .NET runtime container image recipe
        uses: hadolint/hadolint-action@v2.0.0
        with:
          dockerfile: Dockerfile.runtime
          ignore: DL3008,SC3028

      - name: Build the .NET runtime deps container image
        run: |
          docker build \
            -t ${{ env.runtime-deps-image-name }} \
            -f Dockerfile.runtime-deps \
            --build-arg UBUNTU_RELEASE=${{ env.ubuntu-release }} \
            .

      - name: Build the .NET runtime container image
        run: |
          docker build \
            -t ${{ env.runtime-image-name }} \
            -f Dockerfile.runtime \
            --build-arg UBUNTU_RELEASE=${{ env.ubuntu-release }} \
            .

      # TODO: use snyk action instead and get a Snyk token for ROCKs
      # - name: Scan the .NET runtime deps image for vulnerabilities
      #   run: docker scan --accept-license --dependency-tree -f Dockerfile ${{ env.runtime-deps-image-name }} | tee ${{ github.workspace }}/_test_results/vulnerability-scan-output.txt

      - name: Run Tests
        working-directory: ${{ github.workspace }}/tests
        run: |
          ./run-all-tests ${{ env.runtime-deps-image-name }} ${{ env.runtime-image-name }}

      - id: set-outputs
        if: always()
        run: |
          echo "::set-output name=status::${{ job.status }}"

  notify:
    needs:
        - build
    if: always()
    name: Post Workflow Status to Mattermost
    runs-on: ubuntu-latest

    steps:
    - name: Create the Mattermost Message
      run: |
        case "${{ needs.build.outputs.build_status }}" in
          failure) msg_icon=":x:" ;;
          success) msg_icon=":white_check_mark:" ;;
          cancelled) msg_icon=":no_entry_sign:" ;;
          *) msg_icon=":grey_question:" ;;
        esac

        msg=$(cat << EOF
        ##### $msg_icon GitHub Workflow '${{ github.workflow	}}' execution [#${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) has ended with the status \`${{ needs.build.outputs.build_status }}\`, for:
         - Project: [${{ github.repository }}](${{ github.server_url }}/${{ github.repository }})
         - Branch: [${{ github.ref_name }}](${{ github.server_url }}/${{ github.repository }}/tree/${{ github.ref_name }})
        EOF
        )

        jq -n --arg message "$msg" >mattermost.json '
          {
            text: $message,
          }
        '

    - uses: slackapi/slack-github-action@v1.19.0
      with:
        payload-file-path: "mattermost.json"
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.MATTERMOST_ROCKS_DEV_WEBHOOK_URL }}
